.header{
	height: 100px;
	background-color: red;
}
.container{

}
.blog{
	height: 150px;
	width: 30%;
	background-color: black;
	float: left;
}
.contact{
	height: 150px;
	width: 70%;
	background-color: green;
	float: right;
}
 

.wrapper{
	overflow: hidden;

}
.single{
	height: 100px;
	width: 33.33%;
	float: left;

}
.red{
	background-color: cyan;

}
.green{
	background-color: lime;

}
.blue{
	background-color: blue;

}
.footer{
	height: 100px;
	background-color: teal;
}




 .layout1{
background-color: #baba;
padding: 30px 40px 50px;
}
.logo1{
		height: 50px;
		background-color: #585252;
		margin-bottom: 5px;
		line-height: 40px;
}
.navigation1{height: 35px;
		background-color: #585252;
		text-align: center;
margin-bottom: 10px;
}
.header1{height: 100px;
	   background-color: #585252;
	   text-align: center;
	   margin-bottom: 20px;
	   line-height: 80px;
}
.footer1{height: 35px;
	background-color: #585252;
	text-align: center;

}
.container{
	overflow:hidden ;

}
.sidebar1{height: 400px;
		width: 20%;
		background-color: #585252;
		float: left;
		text-align: center;
		line-height: 300px;
}
.bodyarea1{height: 400px;
	     width: 78%;
	     background-color: #585252;
	 text-align: center;
	 line-height: 300px;
	 float: right;

}
.layout2{
	background-color: #bababa;
	padding: 30px 30px 30px;

}
.container{
	overflow: hidden;
}
.logo2{
	height: 50px;
	background-color: #585252;
	text-align: left;
	float: left;
	width: 50%;
	line-height: 10px;
}
.navigation2{
	background-color: #585252;
	text-align: center;
	line-height: 10px;
	float: right;
	width: 50%;
}
.header2{
	height: 100px;
	background-color: #585252;
	text-align: center;
	margin-bottom: 10px;
	line-height: 80px;
}
.container{
	overflow: hidden;
}
.box{height: 300px;
	width: 32%;
	float: left;
	background-color: #585252;
	line-height: 200px;
	text-align: center;

}
.margin{
	margin-right: 25px;
}
.logo3{height: 50px;
	background-color: #585252;
	text-align: left;
	line-height: 40px;
	margin-bottom: 5px;
}
.container{
	overflow: hidden;
}
.sidebar3{height: 400px;
width: 20%;
float: left;
background-color: #585252;
line-height: 300px;
text-align: center;
margin-right: 12px;

}
.header3{height: 195px;
width: 79%;
float: left;
background-color: #585252;
text-align: center;
margin-bottom: 10px;
line-height: 150px;

}
.bodyarea3{height: 195px;
width: 79%;
float: left;
background-color: #585252;
text-align: center;
line-height: 150px;

}
.logo4{height: 50px;
	background-color: #585252;
	text-align: left;
	float: left;
	width: 50%;
	margin-bottom: 5px;
	line-height: 10px;

}
.navigation4{height: 50px;
	    background-color:#585252 ;
	    text-align: center;
	    line-height: 10px;
float: right;
width: 50%;
margin-bottom: 5px;
}
.blank{height: 150px;
width: 23.8%;
float: left;
background-color: #585252;
margin-right: 20px;
margin-bottom: 20px;

}
.blank4{height: 150px;
width: 23.8%;
float: left;
background-color: #585252;


}
.boxx{height: 150px;
width: 33%;
float: left;
background-color: #585252;
line-height: 100px;
text-align: center;

}
.margin2{margin-right: 6px;

}
.wrapper1{
	width: 60%;
	margin: 0 auto;
	border: 5px solid #dddd;
}

label{
	font-size: 25px;
	
}

.first_name, .last_name, .email, .password{
	width: 90%;
	height: 25px;
	padding: 10px;
	font-size: 18px;
	
}
.message{
		font-size: 18px;
	padding: 10px;
}
table{
	width: 100%;
	border: 1px solid black;
}
th, td{
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
}
td:hover{
	background: #dddd;
}


 